apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: avatares
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: chichocoria/avatares-devops-web:1
          env:
            - name: VITE_HOST
              value: "0.0.0.0"
            - name: VITE_PORT
              value: "5173"
---
apiVersion: v1
kind: Service
metadata:
  namespace: avatares
  name: web
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
  type: ClusterIP